<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.berkeley.xlab"
      android:versionCode="1"
      android:versionName="0.2">
    <uses-sdk android:minSdkVersion="7" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:debuggable="true">
        
        <activity android:name=".LoginActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask">
        </activity>
        
        <activity android:name=".ExpActivityTextQuestion"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name=".ExpActivityBudgetLine"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name=".InstructionsActivityBudgetLine"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="edu.berkeley.xlab.BLINSTRUCTIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".InstructionsActivityTextQuestion"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="edu.berkeley.xlab.TQINSTRUCTIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <service android:name=".BackgroundService"
        		 android:exported="false">
        		 <!-- 
        		 android:process=":xlab_service">
        		 -->
        </service>
        
		<receiver android:enabled="true" android:name=".BootUpReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
		
		<receiver  android:process=":remote" android:name="AlarmReceiver"/>
		
     </application>
    
</manifest>